/*Napravio: Aleksa Funduk 2014/0219*/
body {
	font-family: arial;
	padding: 0;
	margin: 0;
	background-color: gray;
	font-size: 14px;
}
#login-container {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 250px;
	border-radius: 8px;
}
#login-container-2 {
	margin-left: 25px;
	margin-right: 25px;
}
#submit {
	margin: 0 auto;
	padding: 0;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	font-family: arial;
	font-weight: 900;
	border: none;
	box-shadow: 0px 5px #edbd02;
	width: 200px;
	height: 40px;
	background-color: #ffe630;
}
#submit:hover {
	background-color: #ffea5b;
}
#submit:focus {
	outline:none;
}
#submit:active {
	box-shadow: 0px 3px #edbd02;
	transform: translateY(2px);
}
#name, #pass {
	border: none;
	width: 195px;
	height: 30px;
	padding-left: 5px;
	border-bottom: 2px solid lightgray;

}
input {
	border-radius: 0;
	-webkit-appearance: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
#name:focus, #pass:focus {
	outline: none;
	border-bottom-color: gold;
}
.checkbox-holder {
	width: 100%;
	font-family: arial;
	font-size: 14px;
}
#showhide, #autologin {
	background-color: white;
}
label {
	font-family: arial;
	font-size: 14px;
	color: black;
}
.checkBoxSlider {
	width: 40px;
	height: 18px;
	background: lightgray;
	display: inline-block;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}
.checkBoxSlider label {
	display: block;
	width: 20px;
	height: 14px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;

	-webkit-box-shadow: 0px 0.5px 2px 0px black;
	-moz-box-shadow: 0px 0.5px 2px 0px black;
	box-shadow: 0px 0.5px 2px 0px black;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.checkBoxSlider input[type=checkbox]:checked + label {
	left: 18px;
}
input[type=checkbox] {
	visibility: hidden;
}
#date {
	color: gray;
}
#date a {
	color: gray;
	font-weight: bolder;
	text-decoration: none;
}
#date a:hover {
	color: black;
	text-decoration: underline;
}
#error {
	font-size: 14px;
	display: none;
}
#registrac {
	font-size: 12px; 
	text-align: center;
}
#registrac a {
	text-decoration: none;
	color: #edbd02;
}
#registrac a:hover {
	text-decoration: underline;
}
#backhome {
	position: absolute; 
	top: 10px; 
	left: 10px;
	background-color: white; 
	border-radius: 10px; 
	display: inline-block; 
	padding: 10px;
}
#home {
	position: relative;
}
#home a {
	color: gray;
	font-weight: bolder;
	text-decoration: none;
}
#home a:hover {
	color: black;
	text-decoration: underline;
}
.center {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.middle {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
#infobox {
	margin-bottom: 10px;
	text-align: center;
}
#success {
	display: none;
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	text-align: center;
	transform: translate(-50%, -400%); 
	-webkit-transform: translate(-50%, -400%);
	-moz-transform: translate(-50%, -400%);
	-o-transform: translate(-50%, -400%);
}