/*Napravio: Aleksa Funduk 2014/0219*/
body {
	margin: 0; 
	padding: 0;
	font-family: arial;
	background-color: gray;
	background-image: url('../images/belgrade.jpg');
	background-repeat: no-repeat;
	background-size: 100vw auto;
	background-attachment: fixed;
	font-family: arial;
	font-size: 14px;
}
#navbar {
	background-color: white;
	position: absolute;
	top: 10px;
	left: 0;
	height: 50px;
	width: 65%;
	border-radius: 0 10px 10px 0;
}
#date {
	margin-left: 10px;
}
#date a {
	color: gray;
	font-weight: bolder;
	text-decoration: none;
}
#date a:hover {
	color: black;
	text-decoration: underline;
}
#login {
	right: 2%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
#favoriti {
	right: 30%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
#separator {
	width: 1px; 
	background-color: black; 
	height: 25px;
	position: absolute;
	top: 50%;
	right: 25%;
	z-index: 200;
	transform: translate(0, -50%);
}
#logo-holder {
	height: 40%;
	position: absolute;
	top: 20%;
	left: 38.5%;
}
#backtop {
	padding: 2px 10px 5px 10px;
	background-color: white;
	box-shadow: 0px 0px 5px gray;
	position: fixed;
	left: 0;
	bottom: 5%;
	border-radius: 0 10px 10px 0;
	text-align: center;
	z-index: 100;
}
#backtop a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: black;
	font-size: 14px;
	text-decoration: none;
}
#backtop:hover a {
	text-decoration: underline;
}
/*!!wrapper-left!!*/
#wrapper {
	margin-top: 70vh;
	position: relative;
	padding-bottom: 10vh;
}
#wrapper-bg {
	position: absolute;
	background-color: white;
	height: calc(100% - 30vh);
	width: 100%;
	top: 30vh;
	left: 0;
	z-index: 99;
}
#wrapper-left {
	box-shadow: 0px 0px 5px gray;
	z-index: 100;
	position: relative;
	width: 52.5%; 
	background-color: white; 
	margin-left: 12.5%; 
	//height: 10000px; 
	border-radius: 10px;
}
#results-header {
	position: relative;
	background-color: gold;
	height: 9vh;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid black;
}
.popust {
	color: white;
	font-weight: bold;
	z-index: 101;
	position: absolute;
	background-color: gold;
	border: 1px solid  black;
	width: 200px;
	top: 10px;
	left: -5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.add {
	position: relative;
	margin: 0;
	height: 250px;
	width: 100%;
	border-bottom: 2px solid black;
}
.add:hover {
	background-color: #FFFF99;
}
a:hover {
	text-decoration: underline;
}
/*!!wrapper-right!!*/
#wrapper-right {
	box-shadow: 0px 0px 5px gray;
	z-index: 100;
	width: 20%; 
	background-color: white; 
	height: calc(100vh - 20px); 
	border-radius: 10px; 
	position: fixed; 
	top: 10px; 
	left: 70%;
	text-align: center;
	font-size: 14px;
}
#wrapper-right hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
input[type=number] {
	width: 55px;
}
/*!!footer!!*/
footer {
	height: 300px;
	background-color: gray; 
}